<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python39\python.exe|D:\home\python39\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <fastCgi>
      <application fullPath="D:\home\python39\python.exe" arguments="D:\home\python39\wfastcgi.py" />
    </fastCgi>
  </system.webServer>
</configuration>
